.container {
    width: 75%;
    margin: 0 auto;
    max-width: 1080px;
}

.conatainer-medium-width {
    width: 90%;
    margin: 0 auto;
}

.container-full-width {
    position: relative;
}

button {
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.section {
    width: 75%;
    margin: 0 auto;
    max-width: 1080px;
}
