.second-section {
    background-color: $second-color;
    padding-top: 100px;
    padding-bottom: 60px;
    .container {
        text-align: center;
        h3 {
            color: #58402c;
            font-size: 25px;
            padding: 0 200px;
            line-height: 35px;
        }
        .cards {
            display: flex;
            justify-content: center;
            margin: 40px 0;
            .card {
                width: 170px;
                margin: 0 35px;
                img {
                width: 80%;
                height: 120px;
                margin-bottom: 20px;
                }
                p {
                    line-height: 25px;
                    font-size: 16px;
                    color: $text-color;
                }
            }
        }
        .immagine-sotto {
            border-bottom: $barra-separazione;
            padding-top: 50px;
            padding-bottom: 100px;
            img {
                width: 280px;
            }
        }
        .testo {
            margin-top: 80px;
        }
        .last-content {
            margin-bottom: 80px;
            img {
                width: 280px;
                margin-bottom: 100px;
            }
        }
    }
}
